<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website development company in Port Harcourt city, Rivers State, Nigeria</title>
<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="css/styles.css">
</head>
  </head>
  <body>

    <nav class="navbar navbar-dark navbar-expand-lg fixed-top shadow-sm bg-dark">
      <a href="/" class="navbar-brand">Web Development</a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item"><a style="color: yellow;" href="newsletter" class="nav-link">Special Offers</a></li> -->
      <li><a href="newsletter" class="btn btn-success text-white shadow">Sign Up</a></li>
      </ul>
      <!-- <div class="navbar-text ml-lg-3">
      <a href="newsletter" class="btn btn-success text-white shadow">Sign Up</a>
      </div> -->
      </div>
      </nav>
   